$primaryTextColor:#565656;
$secondaryTextColor: #000000 ;
$subTextColor: #7B7B7B;
$accentTextColor: #FFF;

$hoverTextColor: #007FFC;

$primaryBgColor: #FFF;
$secondaryBgColor: #F4F4F4;

// $iconFillColor:#007FFC;
// $iconFillColor1:#D1E7FF;
// $iconFillColor2:#E8F3FF;
// $iconFillColor3:#B9DCFF;

// $iconFillAccentColor:#52C29D;
// $iconFillAccentColor1:#E1F4F5;
// $iconFillAccentColor2:#F4FEFF;
// $iconFillAccentColor3:#CAEFF2;

// $color1: #d1e7ff;
// $color2: #b9dcff;
// $color3: #e8f3ff;
// $color4: #fff;
// $color5: #007ffc;
// $color6: #e1f4f5;
// $color7: #caeff2;
// $color8: #f4feff;
// $color9: #52c29d;


$transitionFunc: 0.2s cubic-bezier(0.4, 0, 0.2, 1);

$primaryFontFam: 'Lato', sans-serif;

// font-family: 'Open Sans', sans-serif;
// font-family: 'Raleway', sans-serif;
// font-family: 'Roboto', sans-serif;